<div class="card" style="margin: 5px 10px;">
    <div class="hanzi"><a href="/showcharsheet/{{character.character}}" style="color: white;">{{
            character.character
            }}</a></div>
    <div style="font-size: 1.4em;"><span style="color: aquamarine;">Pinyin:</span> {{character.pinyin}}</div>
    <br>
    <div style="font-size: 1.4em;"><span style="color: aquamarine;">Meaning:</span> {{character.meaning}}</div>
    <br>
    <div style="font-size: 1.4em;"><span style="color: aquamarine;">HSK:</span> {{character.hsk_level}}</div>
    <br>
    <form action="/update_data/{{character.id}}" method="post">

        Can Write:
        <input type="checkbox" id="canwrite_{{character.id}}" name="canwrite" value="on" {% if character.can_write
            %}checked{% endif %} />

        Known:
        <input type="checkbox" id="known_{{character.id}}" name="known" value="on" {% if character.is_known %} checked
            {% endif %}>
        <input type="submit" value="Submit">
        <div class="edit-tags">
            <a href="/charTags/{{character.id}}" style="color:burlywood;">Edit Tags</a>
        </div>
    </form>
</div>