<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="header">
        <div class="logo">
            <h1>Chinese Characters</h1>
        </div>
    </div>

    <div class="card">
        <h1>Add bulk characters in {{tag.name}}</h1>
        <form action="/add_bulk_char_in_tag/{{tag.id}}" method="POST">
            <textarea name="characters" id="chars" cols="30" rows="10" required></textarea>
            <button type="submit">Add</button>
        </form>
    </div>



</html>