<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <div class="links">
        <a href="/">Home</a>
        <a href="/wchars">CanWrite</a>
        <a href="/kchars">KnownChars</a>
    </div>
    s

    <div class="pagination">
        {% if characterList.has_prev %}
        <a href="{{ url_for('home', page=characterList.prev_num) }}">Previous</a>
        {% endif %}
        {% if characterList.has_next %}
        <a href="{{ url_for('home', page=characterList.next_num) }}">Next</a>
        {% endif %}
    </div>

    {% for character in characterList %}
    <form action="/update_data/{{character.id}}" method="post">
        <ul>
            <li>{{character.character}}</li>
            <li>{{character.hsk_serial}}</li>
            <li>
                Can Write:
                <input type="checkbox" id="canwrite_{{character.id}}" name="canwrite" value="on" {% if
                    character.can_write %}checked{% endif %} />
            </li>
            <li>
                Known:

                <input type="checkbox" id="known_{{character.id}}" name="known" value="on" {% if character.is_known %}
                    checked {% endif %}>
            </li>
            <li><input type="submit" value="Submit"></li>
        </ul>
    </form>
    {% endfor %}
</body>

</html>